.form-group {
  display: flex;
  flex-direction: column;
}

.form-group > input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
}

.form-group > button {
  margin-bottom: 25px;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.btn-danger {
  background: transparent;
  border: 1px solid red;
  color: red;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

.list li span strike {
  text-decoration: line-through;
  color: green;
}

.list {
  display: flex;
  flex-direction: column;
}

ul.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}
